Incompleted Tasks:<b>{{incompletedTasks().length}}</b>
<hr>
Completed Tasks:<b>{{completedTasks().length}}</b>
<hr>
Categories:
@for (category of categoryValues; track category) {
    <span class="category-span" [routerLink]="['../category', category]"  >{{category}} </span>
}
@for(task of incompletedTasks();track task.id) {
    <cgyir-task-item [task]="task" />
}@empty {
    <p>No incompleted tasks available</p>
}
<hr>
@for(task of completedTasks();track task.id) {
    <cgyir-task-item [task]="task" />
}@empty {
    <p>No completed tasks available</p>
  }