@if(authService.username()!==undefined){
<nav>
    <div class="nav-items">
        <ul>
            <li routerLink="home" routerLinkActive="active">Home</li>
            <li routerLink="tasks/list" routerLinkActive="active">Task list</li>
            <li routerLink="tasks/create" routerLinkActive="active">New task</li>
            <li routerLink="tasks/categories/create" routerLinkActive="active">Create category</li>
            <li routerLink="tasks/categories/list" routerLinkActive="active">List categories</li>
        </ul>
    </div>
    <div class="user-details">
        {{authService.username()}}
        <button class="button-logout" (click)="authService.logout()">
            <img src="logout.svg" alt="">
        </button>
    </div>
</nav>
}