.navbar {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 10px 20px;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      font-size: 1.5em;
      font-weight: bold;
    }

    .nav-links {
     list-style: circle;
    }
  }
}


.menu-toggle {
  font-size: 1.5em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    a {
      color: white;
      text-decoration: none;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: white;
      margin-left: 10px;
    }
  }
}


@media (max-width: 768px) {

  .menu-toggle {
    display: block;
    &.modify{
      position: absolute;
      top: 10px;
    }
  }
  .navbar-container{
    .brand {
      display: none;
    }
    .nav-links{
      flex-direction: column;
      display: none;  
      width: 100%;
      &.active{
        display: flex;

      }
      li {
        padding: 10px 0;
      }   
    }
  }
}