.task-item {
    border-radius: 20px;
    height: 170px;
    width: 70vw;
    .title {
        width: 100%;
        h3{
            margin: 0;
        }
    }
    .description {
        text-align: left;
        p{
            margin: 0;
        }
    }
    .author {
        text-align: right;
    }
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #4e4e4e;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
    button {
        svg {
            width: 1.5rem;
            height: 1.5rem;
            path {
                fill: #444444;
            }
        }
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}