<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Buttons</th>
        </tr>
    </thead>
    <tbody>
        @for (item of categories(); track item.id) {
         <tr>
            <td >{{item.name}}</td>
            <td>@if(item.name!=='Default'){
                <button (click)="taskService.deleteCategoryById(item.id)">delete</button>    
                <button routerLink="/tasks/category/{{item.name}}">list tasks</button>
            }</td>
         </tr>
        }
    </tbody>
</table>

<p class="routed-paragraph" routerLink="/tasks/categories/create">Create category</p>
