/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

.base-select{
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}